:root {
    --font-heading: "Bungee", system-ui, sans-serif;
    --font-body: "Space Grotesk", system-ui, sans-serif;
    --font-ui: 'Inter', system-ui, 'Segoe UI', sans-serif;

    --color-bg: #e6e8eb;
    --color-bg-darker: #a1a7b3;
    --color-text: #0c0f14;
    --color-text-lighter:#1e2430;

    --color-blue: #2f6db3;
    --color-red: #c23b32;
    --color-green: #3a7f6b;
    --color-yellow: #e1b84f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body{
    height: 100%; 
    font-size: 16px;
    background: var(--color-bg);
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading);
    color: var(--color-text);
    margin: 0px;
    padding: 0px;
}

h1{ font-size: 4rem; }
h2{ font-size: 3rem; }
h3{ font-size: 2.5rem; }
h4{ font-size: 2rem; }
h5{ font-size: 1.5rem; }
h6{ font-size: 1rem; }

p{
    font-size: 1rem;
    font-family: var(--font-body);
    color: var(--color-text);
    max-width: 60ch;
    font-weight: 500;
    padding: 0px; 
    margin: 0px; 
    line-height: 1.5;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
