:root {
    --font-heading: "Bangers", system-ui, sans-serif; /* Bungee is the other font, already imported in index.html*/
    --font-body: "Comic Neue", cursive;

    --color-bg: #0b0e13;
    --color-bg-darker: #151a22;
    --color-text: #f2f4f8;
    --color-text-lighter: #9aa3b2;

    --color-blue: #2f6db3;
    --color-red: #c23b32;
    --color-green: #3a7f6b;
    --color-yellow: #e1b84f;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body{
    height: 100%; 
    font-size: 16px;
    background: var(--color-bg);
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

body{
    background-color: var(--color-bg);

    background-image: radial-gradient(
        circle at 1px 1px,
        rgba(255, 255, 255, 0.05) 1px,
        transparent 0
    );

    background-size: 24px 24px;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-heading);
    color: var(--color-text);
    margin: 0px;
    padding: 0px;
    letter-spacing: 0.05em;
}

h1{ font-size: 5rem; }
h2{ font-size: 4rem; }
h3{ font-size: 3rem; }
h4{ font-size: 2.5rem; }
h5{ font-size: 2rem; }
h6{ font-size: 1.5rem; }

p{
    font-size: 1.2rem;
    font-family: var(--font-body);
    color: var(--color-text);
    max-width: 60ch;
    font-weight: 600;
    font-style: italic;
    padding: 0px; 
    margin: 0px; 
    line-height: 1.5;
}

button{
    all: unset;
    cursor: pointer;
    border: 0.1rem solid var(--color-text);
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-heading);
    font-size: 1.5rem;
    padding: 0.3rem 0.5rem;
    text-align: center;
    font-weight: 600;
    transition: 100ms ease all;
}

button:hover{
    background: var(--color-text);
    color: var(--color-bg);
}

button.red{
    background: var(--color-red);
    border-color: var(--color-red);
}
button.red:hover{ color: var(--color-bg); }
button.red:active{
    background: var(--color-bg);
    border-color: var(--color-red);
    color: var(--color-red);
}

button.blue{
    background: var(--color-blue);
    border-color: var(--color-blue);
}
button.blue:hover{ color: var(--color-bg); }
button.blue:active{
    background: var(--color-bg);
    border-color: var(--color-blue);
    color: var(--color-blue);
}

button.green{
    background: var(--color-green);
    border-color: var(--color-green);
}
button.green:hover{ color: var(--color-bg); }
button.green:active{
    background: var(--color-bg);
    border-color: var(--color-green);
    color: var(--color-green);
}

button.yellow{
    background: var(--color-yellow);
    color: var(--color-bg); 
    border-color: var(--color-yellow);
}
button.yellow:hover{ color: var(--color-bg); }
button.yellow:active{
    background: var(--color-bg);
    border-color: var(--color-yellow);
    color: var(--color-yellow);
}

.loading-page, .error-page{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.input-pair{
    display: column;
    border: 0.1rem solid var(--color-text);
    width: 100%;
    background: var(--color-bg);
}

.input-pair.invalid{ border: 0.1rem solid var(--color-red);}
.input-pair h6{ margin: 0.5rem 0.7rem 0.2rem 0.7rem; }

.input-pair input, .input-pair textarea{
    all: unset;
    font-family: var(--font-body);
    font-size: 1.2rem;
    color: var(--color-text);
    font-weight: 600;
    font-style: italic;
    width: 95%;
    padding: 0.2rem 0.7rem 0.5rem 0.7rem;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
