.root-cont, .admin-cont{
    width: 100%;
}

.root-cont main, .admin-cont main{
    margin: 1rem;
    border: 0.1rem solid var(--color-text);
}

.layout header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.layout header .header-part{
    display: grid;
    place-items: stretch;
    padding: 0px;
    margin: 0px;
}

.layout nav{ 
    background: var(--color-text);
    gap: 0.1rem;
    grid-template-columns: repeat(4, auto);
}

.layout .logos-cont{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 2rem;
    background: var(--color-bg);
}

.layout .logos-cont h6{ color: var(--color-yellow); }

.layout .nav-link{
    all: unset;
    cursor: pointer;
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-heading);
    text-transform: capitalize;
    padding: 1.1rem 2rem;
    text-align: center;
    font-weight: 600;
    transition: 100ms ease all;
}

.layout .nav-link:hover, .layout .nav-link.active{
    background: var(--color-bg);
    color: var(--color-blue);
}

.layout .header-part.right-cont{
    grid-template-columns: auto auto;
    place-items: stretch;
    gap: 0.2rem;
}

.layout .right-cont button{
    font-family: var(--font-heading);
    padding: 0.7rem 1.5rem;
    transition: all 200ms ease;
}

.layout #shopping-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.layout #shopping-cart svg{
    height: 32px;
    width: auto;
    fill: var(--color-text);
}

.layout #shopping-cart:hover svg{ fill: var(--color-bg); }
.layout #shopping-cart:active svg{ fill: var(--color-green); }
.layout #shopping-cart .order-amount { color: var(--color-text); font-weight: 700; }
.layout #shopping-cart:hover .order-amount { color: var(--color-bg); }
.layout #shopping-cart:active .order-amount { color: var(--color-green); }