.root-cont, .admin-cont{
    width: 100%;
}

.root-cont main, .admin-cont main{
    margin: 1rem;
    border: 0.1rem solid var(--color-text);
}


.layout header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    align-items: center;
    border: 0.1rem solid var(--color-text);
    margin: 1rem;
}

.layout header .header-part{
    display: grid;
    place-content: center;
    height: 100%;
    max-height: 3rem;
    background: var(--color-text);
    border-left: 0.1rem solid var(--color-text);
    border-right: 0.1rem solid var(--color-text);
    gap: 0.1rem;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.layout .logos-cont{ justify-self: left; }

.layout .logos-cont >div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 2rem 1rem;
    background: var(--color-yellow);
}

.layout nav{ grid-template-columns: auto auto auto; }

.layout .nav-link{
    all: unset;
    height: 100%;
    padding: 2rem;
    font-family: var(--font-heading);
    color: var(--color-text);
    text-transform: capitalize;
    background: var(--color-bg);
    letter-spacing: 0.2em;
    margin: 0px;
    transition: all 200ms ease;
}

.layout .nav-link.active{
    background: var(--color-text);
    color: var(--color-bg);
}

.layout .nav-link:hover.active{
    background: var(--color-text);
    color: var(--color-blue);
}

.layout .nav-link:hover{
    background: var(--color-blue);
}

.layout .right-cont{
    grid-template-columns: auto auto;
    justify-self: right;
}

.layout .right-cont button{
    all: unset;
    cursor: pointer;
    font-family: var(--font-heading);
    letter-spacing: 0.2em;
    color: var(--color-text);
    background: var(--color-bg);
    padding: 2rem;
    transition: all 200ms ease;
}

.layout .right-cont .btn-1{ background: var(--color-red); }
.layout .right-cont .btn-1:hover{ background: var(--color-text); color: var(--color-red); }

.layout .right-cont .btn-2{ background: var(--color-green); }
.layout .right-cont .btn-2:hover{ background: var(--color-text); color: var(--color-green);}

.layout .right-cont .btn-2 svg{
    height: 32px;
    width: auto;
    fill: var(--color-text);
}

.layout .right-cont .btn-2:hover svg{
    fill: var(--color-green);
}