.root-cont, .admin-cont{ width: 100%; }

.root-cont main, .admin-cont main{ 
    margin: 1rem; 
}

.layout header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: sticky;
    top: 0px;
    border-bottom: 0.2rem solid var(--color-text);
    z-index: 1000;
    background-color: var(--color-bg);
    background-image:
        radial-gradient(circle at 1px 1px, rgba(255,255,255,0.04) 1px, transparent 0),
        radial-gradient(circle at 12px 12px, rgba(255,255,255,0.02) 1px, transparent 0);
    background-size: 24px 24px;
}

.layout header .header-part{
    display: grid;
    place-items: stretch;
    padding: 0px;
    margin: 0px;
}

.layout nav{ 
    gap: 0.1rem;
    grid-template-columns: repeat(4, auto);
}

.layout .logos-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding: 1rem 2rem;
}

.layout .logos-cont .logo{ 
    width: 2rem; 
    height: auto; 
    border-radius: 999px;
}

.layout .logos-cont h6{ color: var(--color-yellow); }

.layout .nav-link{
    all: unset;
    cursor: pointer;
    background: transparent;
    color: var(--color-text);
    font-family: var(--font-heading);
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: 1.1rem 2rem;
    text-align: center;
    font-weight: 600;
    border-left: 0.1rem solid var(--color-text);
    transition: 100ms ease all;
}

.layout .nav-link:hover, .layout .nav-link.active{ color: var(--color-blue); }

.layout .header-part.right-cont{
    grid-template-columns: auto auto;
    place-items: stretch;
    gap: 0.2rem;
}

.layout .right-cont button{
    font-family: var(--font-heading);
    padding: 0.7rem 1.5rem;
    transition: all 200ms ease;
}

.layout #shopping-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.3rem;
}

.layout #shopping-cart svg{
    height: 32px;
    width: auto;
    fill: var(--color-text);
}

.layout #shopping-cart:hover svg{ fill: var(--color-bg); }
.layout #shopping-cart:active svg{ fill: var(--color-green); }
.layout #shopping-cart .order-amount { color: var(--color-text); font-weight: 700; }
.layout #shopping-cart:hover .order-amount { color: var(--color-bg); }
.layout #shopping-cart:active .order-amount { color: var(--color-green); }

@media(max-width: 1024px){
    .layout .logos-cont h6{ display: none; }
}

@media(max-width: 768px){
    .layout .nav-link{ font-size: 1.2rem; }
}

@media(max-width: 640px){
    .layout .logos-cont{ 
        padding: 0px;
        display: none; 
    }
    .layout .nav-link{
        border-left: 0px solid var(--color-text);
        border-right: 0.1rem solid var(--color-text);
    }

    .layout #documentation{ display: none; }
}

@media(max-width: 480px){
    .layout .nav-link{
        padding: 0.5rem 1rem;
    }

    .layout .right-cont button{ padding: 0.3rem; }
}

@media(max-width: 380px){
    .layout #order-now{ display: none; }

}