.whole-screen{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.whole-screen.closed{
    display: none;
}

.decline-popup-cont{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    background: var(--color-bg);
    border: 0.1rem solid var(--color-text);
    padding: 1rem;
    gap: 2rem;
}

.decline-popup-cont .message-cont{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.decline-popup-cont .message-cont textarea{
    all: unset;
    border: 0.1rem solid var(--color-text);
    padding: 0.5rem;
    font-family: var(--font-body);
    font-weight: 500;
    width: 90%;
    font-size: 1.1rem;
    text-align: left;
}

.decline-popup-cont .btns-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 0.2rem;
}

.decline-popup-cont .btns-cont button{ width: 100%; }

.decline-popup-cont .cancel{
    background: var(--color-red);
}

.decline-popup-cont .cancel:hover{
    color: var(--color-bg);
    border: 0.1rem solid var(--color-red);
}

.decline-popup-cont .submit{
    background: var(--color-green);
}

.decline-popup-cont .submit:hover{
    color: var(--color-bg);
    border: 0.1rem solid var(--color-green);
}