.order-comp-cont{
    display: grid;
    grid-template-rows: auto auto;
    border: 0.1rem solid var(--color-text);
    cursor: pointer;
    overflow: hidden;
    transition: all 200ms ease;
}

.order-comp-cont:not(:has(.extended)):hover{ background: var(--color-text); }
.order-comp-cont:not(:has(.extended)):hover *{ color: var(--color-bg); }

.order-comp-cont:has(.extended):hover{ border: 0.1rem solid var(--color-blue); }
.order-comp-cont:has(.extended):hover .customer-name{ color: var(--color-blue); }

.order-comp-cont .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.order-comp-cont .pair{
    display: flex;
    flex-direction: column;
}

.order-comp-cont .logistics{ align-items: center; }

.order-comp-cont .btns-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.order-comp-cont .btns-cont .accept{ 
    background: var(--color-green); 
    color: var(--color-text); 
}

.order-comp-cont .btns-cont .accept:hover{ 
    background: var(--color-text); 
    color: var(--color-green);
}

.order-comp-cont:not(:has(.extended)):hover .btns-cont .accept{
    border: 0.1rem solid var(--color-green);
}

.order-comp-cont:has(.extended) .btns-cont .accept:hover{
    background: var(--color-green);
    border: 0.1rem solid var(--color-green);
    color: var(--color-bg);
}

.order-comp-cont .btns-cont .accept:disabled{
    border: 0.1rem solid var(--color-green);
}

.order-comp-cont .btns-cont .accept:disabled:hover{
    background: var(--color-green); 
    color: var(--color-text); 
}

.order-comp-cont .btns-cont .decline{ 
    background: var(--color-red); 
    color: var(--color-text); 
}

.order-comp-cont .btns-cont .decline:hover{ 
    background: var(--color-text); 
    color: var(--color-red); 
    border: 0.1rem solid var(--color-red); 
}

.order-comp-cont:not(:has(.extended)):hover .btns-cont .decline{
    border: 0.1rem solid var(--color-red);
}

.order-comp-cont:has(.extended) .btns-cont .decline:hover{
    background: var(--color-red);
    border: 0.1rem solid var(--color-red);
    color: var(--color-bg);
}

.order-comp-cont:has(.accept:disabled) .decline{
    display: none;
}

.order-comp-cont .extension{
    display: flex;
    max-height: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: max-height 500ms ease;
}

.order-comp-cont .extension.extended{
    max-height: 1000px;
}

.order-comp-cont .extension >div{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    gap: 2rem;
}

.order-comp-cont .order-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin: 1rem 0px;
}

.order-comp-cont .total{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0.5rem 0px;
}

.order-comp-cont .total p{
    font-weight: 700;
    font-size: 1.2rem;
}

.order-comp-cont .comment{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
    margin: 0.5rem 0px;
}

.order-comp-cont .information-cont{
    display: flex;
    align-items: end;
    width: 50%;
    height: 80%;
    margin: 1rem;
}

.order-comp-cont .information-cont >div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-comp-cont .order-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
}

.order-comp-cont .complete-cont button{ background: var(--color-blue); }
.order-comp-cont .complete-cont button:hover{ border: 0.1rem solid var(--color-blue); }