.order-comp-cont{
    display: grid;
    grid-template-rows: auto auto;
    border: 0.1rem solid var(--color-text);
    cursor: pointer;
    overflow: hidden;
    transition: all 200ms ease;
}

.order-comp-cont:hover{ border-color: var(--color-blue); }
.order-comp-cont:hover .customer-name{ color: var(--color-blue); }

.order-comp-cont .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.order-comp-cont .pair{
    display: flex;
    flex-direction: column;
}

.order-comp-cont .header-middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    margin: 0px 1rem;
}

.order-comp-cont .header-middle h6, .order-comp-cont .header-middle p{ text-align: center; }

.order-comp-cont .logistics{ align-items: center; }

.order-comp-cont .btns-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.order-comp-cont .btns-cont .accept:disabled, .order-comp-cont .btns-cont .accept:disabled:hover{
    background: var(--color-green); 
    color: var(--color-bg); 
}

.order-comp-cont:has(.accept:disabled) .decline{
    display: none;
}

.order-comp-cont .extension{
    display: flex;
    max-height: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transition: max-height 500ms ease;
}

.order-comp-cont .extension.extended{
    max-height: 1000px;
}

.order-comp-cont .extension >div{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
    gap: 2rem;
}

.order-comp-cont .order-items{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
    margin: 1rem 0px;
}

.order-comp-cont .custom-order{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 0.1rem solid var(--color-text);
}

.order-comp-cont .custom-order .custom-top-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.order-comp-cont .custom-top-cont h5 span{
    font-family: var(--font-body);
    opacity: 0.7;
    font-size: 0.8rem;
}

.order-comp-cont .custom-top-cont .icons-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-comp-cont .custom-top-cont .icons-cont svg{
    width: 2rem;
    height: auto;
    fill: var(--color-green);
    color: var(--color-green);
}

.order-comp-cont .total{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0.5rem 0px;
}

.order-comp-cont .total p{
    font-weight: 700;
    font-size: 1.2rem;
}

.order-comp-cont .comment{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.5rem;
    margin: 0.5rem 0px;
}

.order-comp-cont .information-cont{
    display: flex;
    align-items: end;
    width: 50%;
    height: 80%;
    margin: 1rem;
}

.order-comp-cont .information-cont >div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-comp-cont .order-info{
    display: grid;
    grid-template-columns: auto auto;
    place-items: stretch;
    justify-content: left;
    gap: 1.5rem;
}

.order-comp-cont .order-info >div{ 
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.order-comp-cont .complete-cont button{ background: var(--color-blue); border-color: var(--color-blue); }
.order-comp-cont .complete-cont button:hover{ 
    background: var(--color-bg);
    color: var(--color-blue);
}

@media(max-width: 1024px){
    .order-comp-cont .header-middle{
        width: auto;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
    }

    .order-comp-cont .btns-cont{ flex-direction: column; }

    .order-comp-cont .extension >div{
        width: auto;
        padding: 1rem
    }
}

@media(max-width: 768px){
    .order-comp-cont .extension >div{
        flex-direction: column;
        gap: 0px;
    }

    .order-comp-cont .information-cont{
        display: flex;
        align-items: end;
        width: auto;
        height: fit-content;
        margin: 0px
    }

    .order-comp-cont .order-info >div p{ font-size: 1rem; line-height: 1.3; }

    .order-comp-cont .complete-cont{ align-self: center; padding: 0.5rem }
}

@media(max-width: 480px){
    .order-comp-cont .pair p{ font-size: 0.8rem; }
    .order-comp-cont .header-middle h6{ font-size: 1rem; }
    .order-comp-cont .order-id{ display: none; }
}