.login-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    gap: 1rem;
}

.login-cont .login-box{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 1rem;
    border: 0.1rem solid var(--color-text);
    justify-content: center;
    gap: 1rem;
}

.login-cont .login-title, .login-cont .message{ text-align: center; }
.login-cont .input-pair.invalid-pass{ border: 0.1rem solid var(--color-red); }
.login-cont .message{ color: var(--color-green); }
.login-cont .message.invalid-pass{ color: var(--color-red); }

@media(max-width: 480px){
    .login-cont .login-box{
        max-width: 300px;
    }
}

@media(max-width: 380px){
    .login-cont .login-box{
        max-width: 250px;
    }
}