.admin-menu-cont{
    display: grid;
    grid-template-rows: auto auto;
    place-items: center;
    border: 0.1rem solid var(--color-text);
}

.admin-menu-cont .categories{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    background: var(--color-bg);
}

.admin-menu-cont .categories button{
    all: unset;
    cursor: pointer;
    flex: 1;
    font-family: var(--font-body);
    font-style: italic;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
    border: 0.1rem solid var(--color-text);
    background: var(--color-text);
    transition: all 100ms ease;
}

.admin-menu-cont .categories button:hover, .admin-menu-cont .categories button.current{
    background: var(--color-bg);
    color: var(--color-text);
    border-color: var(--color-bg);
}

.admin-menu-cont .categories button.new-category-btn{
    background: var(--color-green);
    border-color: var(--color-green);
    color: var(--color-text);
}
.admin-menu-cont .categories button.new-category-btn:hover{ color: var(--color-bg); }
.admin-menu-cont .categories button.new-category-btn:active{
    background: var(--color-bg);
    border-color: var(--color-green);
    color: var(--color-green);
}

.admin-menu-cont .items-cont{
    height: 100%;
    width: 100%;
    display: flex;
}

@media(max-width: 1024px){
    .admin-menu-cont .categories button{ font-size: 1rem; }

    .admin-menu-cont .categories{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(15ch, 1fr));
    }
}

@media(max-width: 480px){
    .admin-menu-cont .categories{
        grid-template-columns: repeat(2, auto);
    }
}

@media(max-width: 380px){
    .admin-menu-cont .categories{
        grid-template-columns: auto;
    }
}