.cart-cont{
    display: flex;
    flex-direction: row;
    min-height: 85vh;
}

.cart-cont .item-display{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cart-cont .my-order{
    margin: 1rem;
}

.cart-cont .orders{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 2rem;
    gap: 0.5rem;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cart-cont .info-display{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}

.cart-cont .info-display >div{
    width: 70%;
    margin: 1rem auto;
}

.cart-cont .customer-info-cont{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.cart-cont .input-cont{
    display: column;
    border: 0.1rem solid var(--color-text);
    width: 100%;
}

.cart-cont .input-cont.invalid{ border: 0.1rem solid var(--color-red);}
.cart-cont .input-cont h6{ margin: 0.3rem 0.5rem 0px 0.5rem; }

.cart-cont .input-cont input, .cart-cont .input-cont textarea{
    all: unset;
    font-family: var(--font-body);
    font-size: 1.1rem;
    color: var(--color-text);
    font-weight: 500;
    width: 95%;
    padding: 0px 0.5rem 0.3rem 0.5rem;
}

.cart-cont .delivery-location{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.cart-cont .delivery-btns{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cart-cont .delivery-btns button{ width: 100%; }
.cart-cont .delivery-btns button.active{
    background: var(--color-blue);
}

.cart-cont .checkout-cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.cart-cont .subtotal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-cont .payment-info{
    display: flex;
    flex-direction: column;
    opacity: 0.7;
}

.cart-cont #place-order-btn{
    background: var(--color-green);
    font-family: var(--font-heading);
    font-size: 1.5rem;
    padding: 0.5rem;
}