.menu-cont{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.menu-cont nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.menu-cont nav button{
    all: unset;
    cursor: pointer;
    color: var(--color-text);
    background: var(--color-bg);

    border-style: solid;
    border-color: var(--color-text);
    border-width: 0.1rem 0.05rem;

    padding: 0.5rem 3rem;
    font-family: var(--font-body);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    width: 100%;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    transition: flex-basis 800ms ease, background 400ms ease, color 100ms ease;
}

.menu-cont nav button:hover{
    background: var(--color-blue);
}

.menu-cont nav button.active{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: clamp(16rem, 40vw, 32rem);
    background: var(--color-text);
    color: var(--color-bg);
}

.menu-cont .menu{
    display: flex;
    flex-direction: column;
    height: 83vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.menu-cont #custom-item .category-items{
    display: flex;
    flex-direction: column;
    width: 100%;
}

