.menu-cont{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.menu-cont nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    background: var(--color-text);
    gap: 0.1rem;
    border-bottom: 0.2rem solid var(--color-text);
}

.menu-cont nav button{
    all: unset;
    cursor: pointer;
    color: var(--color-text);
    background: var(--color-bg);

    padding: 0.5rem 3rem;
    font-family: var(--font-body);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    width: 100%;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    transition: flex-basis 800ms ease, background 400ms ease, color 100ms ease;
}

.menu-cont nav button:hover{
    background: var(--color-blue);
}

.menu-cont nav button.active{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: clamp(16rem, 40vw, 32rem);
    background: var(--color-text);
    color: var(--color-bg);
}

.menu-cont .menu{
    display: flex;
    flex-direction: column;
    height: 83vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.menu-cont .category{
    display: flex;
    width: 100%;
    height: fit-content;
    border: 0.1rem solid var(--color-text);
}

.menu-cont .category:has(.left){ flex-direction: row; }
.menu-cont .category:has(.right){ flex-direction: row-reverse; }

.menu-cont .category .category-name{
    background: var(--color-text);
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    z-index: 1;
}

.menu-cont .category .category-name h5{ color: var(--color-bg); }

.menu-cont .category .category-items{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    gap: 0.5rem;
    padding: 1rem;
}

.menu-cont #custom-item .category-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

.menu-cont #custom-item .category-items > :only-child { grid-column: 1 / -1; }

.menu-cont #custom-item .add-custom{ font-size: 2rem; }