.menu-cont{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-cont nav{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.menu-cont nav button{
    all: unset;
    cursor: pointer;
    color: var(--color-text);
    background: var(--color-bg);

    border-style: solid;
    border-color: var(--color-text);
    border-width: 0.1rem 0.05rem;

    padding: 0.5rem 3rem;
    font-family: var(--font-heading);
    text-align: center;
    width: 100%;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    transition: flex-basis 800ms ease, background 400ms ease, color 100ms ease;
}

.menu-cont nav button:hover{
    background: var(--color-blue);
}

.menu-cont nav button.active{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: clamp(16rem, 40vw, 32rem);
    background: var(--color-text);
    color: var(--color-bg);
}