.menu-cont{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border: 0.1rem solid var(--color-text);
}

.menu-cont nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    background: var(--color-text);
    gap: 0.2rem;
    border-bottom: 0.2rem solid var(--color-text);
}

.menu-cont nav button{
    all: unset;
    cursor: pointer;
    color: var(--color-text);
    background: var(--color-bg);

    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-family: var(--font-body);
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.1em;
    width: 100%;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    transition: flex-basis 800ms ease, background 400ms ease, color 100ms ease;
}

.menu-cont nav button:hover{
    background: var(--color-blue);
}

.menu-cont nav button.active{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: clamp(16rem, 40vw, 32rem);
    background: var(--color-text);
    color: var(--color-bg);
}

.menu-cont .menu{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: 0px;
}

.menu-cont .category{
    display: flex;
    width: 100%;
    height: fit-content;
    border-bottom: 0.1rem solid var(--color-text);
}

.menu-cont .category:has(.left){ flex-direction: row; }
.menu-cont .category:has(.right){ flex-direction: row-reverse; }

.menu-cont .category .category-name{
    background: var(--color-text);
    color: var(--color-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    z-index: 1;
}

.menu-cont .category .category-name h5{ color: var(--color-bg); }

.menu-cont .category .category-items-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.menu-cont .category .category-description{
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    border: 0.1rem solid var(--color-text);
    width: 100%;
    padding: 0.3rem 0.5rem;
    max-width: none;
    font-weight: 800;
    letter-spacing: 0.2;

    background: var(--color-bg);
    background-image: repeating-linear-gradient(
        0deg,
        rgba(255,255,255,0.05),
        rgba(255,255,255,0.05) 1px,
        transparent 1px,
        transparent 4px
    );
}

.menu-cont .category .category-items{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.menu-cont #custom-item .category-items{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

.menu-cont #custom-item .category-items > :only-child { grid-column: 1 / -1; }

.menu-cont #custom-item .add-custom{ font-size: 2rem; }

@media(max-width: 1024px){
    .menu-cont nav{
        width: 100%
    }

    .menu-cont nav button{
        padding: 0.3rem 0.5rem;
        font-size: 1rem;
    }

    .menu-cont nav button.active{
        flex-basis: clamp(16rem, 20vw, 32rem);
    }

    .menu-cont .category .category-description{ font-size: 1rem; }

    .menu-cont .category .category-items{
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .menu-cont #custom-item .category-items{
        grid-template-columns: 1fr;
    }
}

@media(max-width: 768px){
    .menu-cont nav button{ font-size: 0.8rem; }

    .menu-cont nav button.active{
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }

    .menu-cont .category .category-items{
        grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    }
}

@media(max-width: 640px){
    .menu-cont nav{
        display: grid;
        grid-template-columns: repeat(auto-fit, auto);
        place-items: center;
        gap: 0px;

        background: var(--color-bg);
        background-image: 
            repeating-linear-gradient(
                45deg,
                rgba(255,255,255,0.1),
                rgba(255,255,255,0.1) 1px,
                transparent 1px,
                transparent 6px
            ),
            repeating-linear-gradient(
                -45deg,
                rgba(255,255,255,0.1),
                rgba(255,255,255,0.1) 1px,
                transparent 1px,
                transparent 6px
            );
    }

    .menu-cont nav button{
        border: 0.1rem solid var(--color-text);
        padding: 0.5rem 0px;
        font-size: 1rem;
    }

    .menu-cont .category .category-items{ grid-template-columns: repeat(auto-fit, minmax(290px, 1fr)); }

}

@media(max-width: 480px){
    .menu-cont nav button, .menu-cont .category .category-description{
        font-size: 0.9rem;
    }

    .menu-cont .category:has(.left), .menu-cont .category:has(.right){ 
        flex-direction: column; 
    }
    
    .menu-cont .category .category-name{ 
        flex-direction: row; 
        justify-content: center; 
        padding: 0.3rem;
    }

    .menu-cont .category .category-items{
        grid-template-columns: repeat(2, minmax(120px, 1fr));
    }

    .menu-cont #custom-item .category-items{
        width: auto;
    }

}

@media(max-width: 380px){
    .menu-cont .category .category-items{
        grid-template-columns: 1fr;
    }
}